<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-button>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="url"></ion-img>
  <ion-item lines="none">
    <h1>Albert Wijaya</h1>
  </ion-item>
  <ion-item lines="none">
    <h4>00000021498 - CL</h4>
  </ion-item>
  <label class="ion-padding ion-margin-start">- Mengerjakan sendiri.<br></label>
  <label class="ion-padding ion-margin-start">- Tidak menggunakan library luar.<br></label>
  <label class="ion-padding ion-margin-start">- Dibantu slide kelas teori.<br></label>
  <label class="ion-padding ion-margin-start">- Dibantu slide kelas praktek.<br></label>
  <label class="ion-padding ion-margin-start">- Dibantu source code mingguan.<br></label>
</ion-content>
